{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsome/fontawsomefiles/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawsome/fontawsomefiles/fontawsome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Creative Blog</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                {% block content %}
                {% endblock %}
                {% comment %} <ul class="sidebar-nav">
                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}" class="btn btn-primary submit">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}" class="btn btn-primary submit">Login</a></li>
                    {% endif %}
                </ul> {% endcomment %}
            </div>
        </div>
    </div>
</body>
</html>