{% extends "base.html" %}

{% block body %}

    <section>
        <h1 class="text-capitalize">change password</h1>
        <form method="POST" class="mt-5 my-form">
            {{form}}
            {% csrf_token %}
            <div class="mt-5">
                <button type="submit" class="btn btn-primary mr-2">submit</button>
                <a class="btn btn-light " href="{% url 'accounts:profile' profile.id %}">cancel</a>
            </div>
        </form>
    </section>
    
{% endblock body %}
